<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="remotevideo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <remotevideo.Properties.Settings>
            <setting name="ProtocolVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CommMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RadarSignal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RadarBandWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RadarTimeWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RadarAzimuthLooks" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SendInterval" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VideoFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteEndAddr" serializeAs="String">
                <value>192.168.1.10</value>
            </setting>
            <setting name="RemoteEndPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="Nd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fc" serializeAs="String">
                <value>73</value>
            </setting>
            <setting name="RadarReturnDataMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="N" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="TXS1" serializeAs="String">
                <value>1685</value>
            </setting>
            <setting name="TXL1" serializeAs="String">
                <value>195</value>
            </setting>
            <setting name="RXS2" serializeAs="String">
                <value>40685</value>
            </setting>
            <setting name="RXL2" serializeAs="String">
                <value>195</value>
            </setting>
            <setting name="G" serializeAs="String">
                <value>1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29</value>
            </setting>
            <setting name="LocalRecvPort" serializeAs="String">
                <value>8098</value>
            </setting>
            <setting name="VideoRxPeakThreshold" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="VideoActiveRxHangoverFrames" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VideoDecodeBatchFrames" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="VideoDecodeQueueLimit" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="VideoRepairRoundCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="VideoRepairWaitMs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="QpskTxScalePercent" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="QpskPreambleThresholdPercent" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="QpskQuickThresholdPercent" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="QpskPreambleSearchStep" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.1</value>
            </setting>
        </remotevideo.Properties.Settings>
    </userSettings>
</configuration>
